.git
.gitignore
.env
.env.*
*.env
.DS_Store
.idea
.vscode
*.md
LICENSE
README*
docs/
node_modules/
**/*_test.go
**/testdata/
tilt_modules/
Tiltfile
docker-compose*.yml
build/
dist/
bin/
coverage.out
*.log
